/* Pozadinska slika */
.home-container {
    background-image: url('../images/main.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh; /* za fleksibilno skaliranje rayličitih uređaja */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin: 0; /* Ukloni sve marginama na telo ako je potrebno */
    padding: 0; /* Ukloni padding ako se preklapa s visinom */
  }
  

/* Naslov citat*/
.home-container h1 {
    font-size: clamp(30px, 5vw, 48px);
    text-align: center;
    color:#141615;
}
/* Paragraf autora*/

.home-container p {
    font-size: clamp(30px, 5vw, 48px);
    text-align: center;
    color:#141615;
}

  
/* Stilizacija dugmadi */
.btn {
    font-size: clamp(16px, 2vw, 24px); /* Dinamična veličina fonta */
    padding: 30px 30px; /* dugmad dužina,širina */
    background-color: #555f5b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Efekat za hover */
}

.btn:hover {
    background-color: #00b380; 
    transform: scale(1.1); /* Uvećavanje dugmadi kad se pređe mišem */
}

/* Stilizacija razmaka između dugmadi */
.buttons {
    display: flex;
    gap: 70px; /* Razmak između dugmadi */
    margin-top: 80px;
}

/* Prilagodljivost za male ekrane */
@media (max-width: 768px) {
    .home-container {
        height: auto;
        padding: 20px;
    }
    .btn {
        padding: 12px 25px; /* Manja dugmadi na manjim ekranima */
    }
}
